
.rate {
    height: 5.5rem;
    padding: 0 10px;
}

.rate:not(:checked)>div>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>div>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>div>label:before {
    content: '★ ';
}

.rate>div>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>div>label:hover,
.rate:not(:checked)>div>label:hover~label {
    color: #deb217;
}

.rate>div>input:checked+label:hover,
.rate>div>input:checked+label:hover~label,
.rate>div>input:checked~label:hover,
.rate>div>input:checked~label:hover~label,
.rate>div>label:hover~input:checked~label {
    color: #c59b08;
}